@charset 'UTF-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}
div.quadro{
    overflow-x: hidden;
    padding-top: 7%;
    background-color: black;
    width: 90%;
    max-width: 450px;
    min-width: none;
    margin: auto;
}
body > div.quadro > h1{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;  
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body > div.quadro > a > img{
    padding: 0%;
    margin: auto;
    display: inline-block;
    width: 100%;
    min-width: none;
    overflow-x: hidden;
}
body > div.quadro > div > a > img{
    padding: 0%;
    margin: auto;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    min-width: none;
    height: auto;
}
body > div.quadro > a > img.perfilfoto
{
    display: block;
    box-shadow: 0px 0px 7px #ffffff;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 30%;
    width: 100%;
    max-width: 200px;
    min-width: none;
}
.perfilfoto:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
.perfilfoto:active{
    transform: scale(0.9);
    transition: all 0.1s;
}
body > div.quadro > div{
    text-align: center;
}
body > div.quadro > div > a > img.instagramlogo{
    padding: 0%;
    margin: auto;
    margin-top: 3%;
    
}
body > div.quadro > div > a > img.linkedinlogo{
    padding: 0%;
    margin: auto;
    margin-top: 3%;
}

body > div.quadro > div > a > img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
body > div.quadro > div > a > img:active{
    transform: scale(0.9);
    transition: all 0.1s;
}

